$roboto:'Roboto', sans-serif;
$playfair:'Playfair Display', serif;
$colorNegro:black;
$colorBalnco: white;
$colorRojo: red;
$colorAmarillo: rgb(245, 245, 20);
$colorGris:rgb(185, 181, 181);
$light: 300;
$regular: 400;
$tamanoLogo: 80px;
$block: block;
$tamanoTitulo: 30px;
$tamanoTitulo2:60px;
$tamañoTexto: 14px;
$line-height:35px;
$altura-completa: 100vh;
$veintepx: 20px;
$diecisietepx:17px;
$cincuentapx: 50px;


